---
layout: default
comments: true
---

<div class="framework">
  <section class="main">

     {{ content }}

  </section>
  <section class="sidebar" style="margin-left: 15px;">
    <!-- Get sidebar items -->
    {%- if page.sidebar -%}
      {%- assign sidebar = page.sidebar -%}
    {%- elsif site.defaults[page.layout].sidebar -%}
      {%- assign sidebar = site.defaults[page.layout].sidebar -%}
    {%- elsif layout.sidebar -%}
      {%- assign sidebar = layout.sidebar -%}
    {%- endif -%}

    {%- for item in sidebar -%}

      {%- assign file = item -%}
      {%- assign array = file | split: '.' -%}
      {%- if array.size == 1 -%}
        {%- assign file = file | append: '.html' -%}
      {%- endif -%}

      {%- assign file = 'sidebar/' | append: file -%}

      {%- include {{ file }} %}

    {%- endfor -%}
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://emotionsandtechtips-netlify-app.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>

  </section>
</div>
